body{
    background-image: url("../Rasmlar/bacroun1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.yer{
    margin-top: 200px;
}
.esa1{
    color: #00c73e;
}
.esa2{
    color: #00c73e;
}